<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListenToNBA.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A9DA98B32176CBAA00B27A6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9DA98CB2176CBAD00B27A6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9DA98D62176CBAD00B27A6F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
